:root {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;
  background: radial-gradient(circle, #f1f1f1 10%, transparent 11%),
    radial-gradient(circle at bottom left, #f1f1f1 5%, transparent 6%),
    radial-gradient(circle at bottom right, #f1f1f1 5%, transparent 6%),
    radial-gradient(circle at top left, #f1f1f1 5%, transparent 6%),
    radial-gradient(circle at top right, #f1f1f1 5%, transparent 6%);
  background-size: 1em 1em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-semibold.woff2') format('woff2'),
    url('./assets/fonts/poppins-semibold.woff') format('woff'),
    url('./assets/fonts/poppins-semibold.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-regular.woff2') format('woff2'),
    url('./assets/fonts/poppins-regular.woff') format('woff'),
    url('./assets/fonts/poppins-regular.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

body {
  display: grid;
  place-items: center;
  min-height: 100%;
  font-family: 'Poppins', avenir, Helvetica, sans-serif;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 0px;
  margin: 0px;
}
label {
  font-weight: bold;
  font-size: 1em;
}

a.href-links:link {
  color: black;
}
/* unvisited link */
a.href-links:visited {
  color: black;
}
/* visited link */
a.href-links:hover {
  color: #f2f2f2;
  background: black;
}
/* selected link */
a.href-links:active {
  color: #f2f2f2;
  background: black;
}

.nonbold {
  font-weight: normal;
  color: grey;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  form {
    padding: 10px;
  }
  #username,
  input[type='text'],
  select,
  input[type='number'],
  input[type='submit'],
  input[type='submit'],
  input[type='button'] {
    padding: 10px 15px;
    font-size: 1em;
    font-family: 'Poppins';
  }
  h2,
  h1 {
    font-size: 1.5em;
  }
  label {
    font-size: 1em;
  }
  .modal-content {
    width: 80% !important;
    margin: 50% auto !important;
  }
}
