@font-face {
  font-family: "Secular One";
  src: url("/public/SecularOne-Regular.ttf") format('truetype');
  font-display: swap;
}
a:link {color: black;}      /* unvisited link */
a:visited { color:black;}  /* visited link */
a:hover {color: #f2f2f2; background: black;}  /* selected link */
a:active {color: #f2f2f2; background: black;}  /* selected link */
html {
  background-color: #ffffff;
  background-image: radial-gradient(#f2f2f2 2px, #ffffff 2px);
  background-size: 40px 40px;
}
body, input[type='text']  {
  display: grid;
  place-items: center;
  min-height: 100%;
  font-family: 'Secular One', avenir, Helvetica, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}
form {
  max-width: 500px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  font-family: "Secular One";
}

#username, input[type=text], select, input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: white;
  background: none;
  color: black;
  font-family: "Secular One";
}

input[type=submit], input[type=button] {
  font-family: "Secular One";
}

input[type=submit],  input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}
input[type=submit]:hover {
  background-color: #45a049;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 1px black;
}
label {
  font-weight: bold;
  font-size: 1.2em;
}
h2, h1 {
  text-align: center;
  font-size: 2em;
}

.subheading {
  text-align: center;
}
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  form {
    padding: 10px;
  }
  #username, input[type=text], select, input[type=number], input[type=submit], input[type=submit], input[type=button] {
    padding: 10px 15px;
    font-size: 1em;
    font-family: "Secular One";
  }

  h2, h1 {
    font-size: 1.5em;
  }
  label {
    font-size: 1em;
  }
  .modal-content {
    width: 80% !important;
    margin: 50% auto !important;
  }
}
.header-img {
  border-radius: 0.5em;
  width: 100%;
  max-width: 40vh;
  display: block;
  height: auto;
  margin: auto;
}

.footer {
  text-align: center;
  text-align: -webkit-center;
}

.footer a {
}

.btn-grad {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.asterisk {
  color: #ff0000;
  font-weight: normal;
}
.nonbold {
  font-weight: normal;
  color: grey;
}

/* checkbox */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .checkbox-wrapper input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper * {
  box-sizing: inherit;
}
.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
  box-sizing: inherit;
}
.checkbox-wrapper {
  padding-top: 1em;
}
fieldset {
  border:  1px solid #ccc;
  border-radius: 4px;
}


.btn-grad-embed {
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad-embed:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  width: 50%;
  border-radius: 4px;
}

.modal-text {
  text-align: center;
  padding: 0.5em;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 15px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.btn-copy {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-copy:hover {
  background-color: #45a049;
}
.highlight-wrapper {
  display: block;
}
.highlight {
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
.highlight > .chroma {
  color: #d0d0d0;
  background-color: #212121;
  position: static;
  z-index: 1;
  border-radius: 4px;
  padding: 2em;
}
.chroma {
  overflow: auto;
}
.chroma .lntable {
  display: table;
  width: 100%;
  padding: 0 0 5px;
  margin: 0;
  border-spacing: 0;
  border: 0;
  overflow: auto;
}
.chroma .lntd:first-child {
  padding: 7px 7px 7px 10px;
  margin: 0;
}
.chroma .lntd:last-child {
  padding: 7px 10px 7px 7px;
  margin: 0;
}
.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  width: 65px;
  color: #232326;
  background-color: #b3b3b3;
  border: 1.25px solid #232326;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  white-space: nowrap;
  padding: 4px 4px 5px 4px;
  margin: 0 0 0 1px;
  cursor: pointer;
}
.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: #222225;
  background-color: #b3b3b3;
  opacity: 0.8;
}
.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: 0.01;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
  margin-top: 1em;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: grid;
  place-items: center;
}

.advanced {
  color: darkgrey;
  display: none;
}

#advanced-options {
  padding-top: 1em;
}
